{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
<section class="container" id="blog">
  <div class="grid">
    <section>
      <hgroup>
        <h2>Blog</h2>
        <h3>Insights & Updates</h3>
      </hgroup>
      <p>Sharing thoughts and updates about cybersecurity and technology.</p>
      <figure>
        <img src="https://source.unsplash.com/600x400/?technology,hacking" alt="Blog Placeholder" />
        <figcaption><a href="https://www.linkedin.com/in/pearl-lamptey/" target="_blank" class="btn-link">Read on LinkedIn</a></figcaption>
      </figure>
    </section>
  </div>
</section>
{% endblock %}